.chart-card {
  margin-top: 24px;
  margin-bottom: 24px;

  mat-card-header {
    margin-bottom: 0;

    mat-card-title {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 18px;
      font-weight: 500;
      color: #333;

      mat-icon {
        color: #1976d2;
      }
    }
  }
}
