@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link.active {
  background-color: rgba(145, 158, 171, 0.16);
  color: #2065D1;
  font-weight: 600;
}
.sidebar-link.active i {
  color: #2065D1;
}
