<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <span class="spacer"></span>

  <button mat-button (click)="navigateDashboard()">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>

  <button mat-button (click)="navigateProjects()">
    <mat-icon>folder</mat-icon>
    Projects
  </button>

  <button mat-button (click)="navigateTasks()">
    <mat-icon>assignment</mat-icon>
    Tasks
  </button>

  <button mat-button (click)="navigateDevelopers()">
    <mat-icon>person</mat-icon>
    Developers
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
