<mat-toolbar color="primary" class="app-toolbar">
  <span class="toolbar-title">{{ title }}</span>

  <!-- Botones de navegación -->
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="navigateHome()" aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/tasks">Tareas</button>
  <button mat-button routerLink="/projects">Proyectos</button>
</mat-toolbar>

<!-- Contenedor principal -->
<div class="app-content">
  <app-dashboard></app-dashboard>
</div>
